Package: dev.renaitare.notations
Name: Notations
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: The "Sticky Notes" experience for iOS!
Maintainer: Renaitare <support@renaitare.dev>
Author: Renaitare <support@renaitare.dev>
Section: Tweaks
