<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Appearance</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSDefaultCell</string>
				<key>cellClass</key>
				<string>AppearanceSelectionTableCell</string>
				<key>firstOptionName</key>
				<string>Default</string>
				<key>secondOptionName</key>
				<string>Light</string>
				<key>thirdOptionName</key>
				<string>Dark</string>
				<key>firstOptionImage</key>
				<string>/Library/PreferenceBundles/NotationsPrefs.bundle/styles/default.png</string>
				<key>secondOptionImage</key>
				<string>/Library/PreferenceBundles/NotationsPrefs.bundle/styles/light.png</string>
				<key>thirdOptionImage</key>
				<string>/Library/PreferenceBundles/NotationsPrefs.bundle/styles/dark.png</string>
				<key>defaults</key>
				<string>me.renai.notations</string>
				<key>PostNotification</key>
				<string>me.renai.notations.prefsupdate</string>
				<key>key</key>
				<string>style</string>
				<key>height</key>
				<integer>160</integer>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>default</key>
				<integer>0</integer>
				<key>defaults</key>
				<string>me.renai.notations</string>
				<key>PostNotification</key>
				<string>me.renai.notations.prefsupdate</string>
				<key>key</key>
				<string>gesture</string>
				<key>label</key>
				<string>Gesture</string>
				<key>validTitles</key>
				<array>
					<string>None</string>
					<string>Double-Tap Status Bar</string>
					<string>Long-Press Status Bar</string>
					<string>Double-Tap Home Screen</string>
					<string>Triple-Tap Home Screen</string>
				</array>
				<key>validValues</key>
				<array>
					<integer>4</integer>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
			</dict>
		</array>
		<key>title</key>
		<string>Notations</string>
	</dict>
</plist>
