<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>name</key>
	<string>Notations</string>
	<key>subtitle</key>
	<string>Sticky Notes for iOS</string>
	<key>headerColor</key>
	<string>#ff2d55</string>
	<key>darkHeaderColor</key>
	<string>#ff2d55</string>
	<key>headerFontPath</key>
	<string>/Library/Application Support/Notations/Inconsolata-Bold.ttf</string>
	<key>textColor</key>
	<string>#ffffff</string>
	<key>darkTextColor</key>
	<string>#ffffff</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>dev.renaitare.notations</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>dev.renaitare.notations.prefsupdate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>dev.renaitare.notations</string>
			<key>PostNotification</key>
			<string>dev.renaitare.notations.prefsupdate</string>
			<key>key</key>
			<string>style</string>
			<key>label</key>
			<string>Note Style</string>
			<key>validTitles</key>
			<array>
				<string>System Default</string>
				<string>Light</string>
				<string>Dark</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>dev.renaitare.notations</string>
			<key>PostNotification</key>
			<string>dev.renaitare.notations.prefsupdate</string>
			<key>key</key>
			<string>gesture</string>
			<key>label</key>
			<string>Gesture</string>
			<key>validTitles</key>
			<array>
				<string>Double-Tap Status Bar</string>
				<string>Long-Press Status Bar</string>
				<string>Double-Tap Home Screen</string>
				<string>Triple-Tap Home Screen</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>dev.renaitare.notations</string>
			<key>PostNotification</key>
			<string>dev.renaitare.notations.prefsupdate</string>
			<key>key</key>
			<string>textAlignment</string>
			<key>label</key>
			<string>Text Alignment</string>
			<key>validTitles</key>
			<array>
				<string>Natural</string>
				<string>Forced Left</string>
				<string>Forced Center</string>
				<string>Forced Right</string>
				<string>Justified</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>dev.renaitare.notations</string>
			<key>PostNotification</key>
			<string>dev.renaitare.notations.prefsupdate</string>
			<key>key</key>
			<string>useCustomTextSize</string>
			<key>label</key>
			<string>Custom Text Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>dev.renaitare.notations</string>
			<key>PostNotification</key>
			<string>dev.renaitare.notations.prefsupdate</string>
			<key>showValue</key>
			<true/>
			<key>default</key>
			<real>14</real>
			<key>min</key>
			<real>10</real>
			<key>max</key>
			<real>24</real>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>14</integer>
			<key>key</key>
			<string>customTextSize</string>
		</dict>
		<dict>
			<key>cell</key> 					
			<string>PSGroupCell</string>
			<key>label</key> 						
			<string>Once you run the gesture you set above, you tap and hold to create notes on your HomeScreen once it dims out!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Links</string>
		</dict>
		<dict>
			<key>cell</key> 					
			<string>PSButtonCell</string>
			<key>action</key> 					
			<string>submitIssue</string>
			<key>label</key> 					
			<string>Report Issues</string>
			<key>icon</key>
			<string>/Library/PreferenceBundles/NotationsPrefs.bundle/bug.png</string>
		</dict>
		<dict>
			<key>cell</key> 					
			<string>PSButtonCell</string>
			<key>action</key> 					
			<string>donate</string>
			<key>label</key> 					
			<string>Donate / Support Me</string>
			<key>icon</key>
			<string>/Library/PreferenceBundles/NotationsPrefs.bundle/donate.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SPCreditCell</string>
			<key>label</key>
			<string>Renaitare</string>
			<key>twitter</key>
			<string>Renaitare</string>
			<key>subtitle</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SPCreditCell</string>
			<key>label</key>
			<string>Mirac</string>
			<key>twitter</key>
			<string>thatmirac</string>
			<key>subtitle</key>
			<string>Icon Designer</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SPCreditCell</string>
			<key>label</key>
			<string>Skitty</string>
			<key>twitter</key>
			<string>Skittyblock</string>
			<key>subtitle</key>
			<string>Preferences Developer</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SPCreditCell</string>
			<key>label</key>
			<string>ConorTheDev</string>
			<key>twitter</key>
			<string>ConorTheDev</string>
			<key>subtitle</key>
			<string>Teacher</string>
		</dict>
		<dict>
			<key>cell</key> 					
			<string>PSGroupCell</string>
			<key>footerText</key> 				
			<string>Made with ❤️ by Renaitare</string>
			<key>footerAlignment</key> 			
			<string>1</string>
		</dict>
	</array>
	<key>title</key>
	<string>Notations</string>
</dict>
</plist>
