<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Appearance</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSDefaultCell</string>
				<key>cellClass</key>
				<string>NTSAppearanceCell</string>
				<key>leftOptionName</key>
				<string>Default</string>
				<key>centerOptionName</key>
				<string>Light</string>
				<key>rightOptionName</key>
				<string>Dark</string>
				<key>leftOptionImage</key>
				<string>/Library/PreferenceBundles/NotationsPrefs.bundle/styles/default.png</string>
				<key>centerOptionImage</key>
				<string>/Library/PreferenceBundles/NotationsPrefs.bundle/styles/light.png</string>
				<key>rightOptionImage</key>
				<string>/Library/PreferenceBundles/NotationsPrefs.bundle/styles/dark.png</string>
				<key>defaults</key>
				<string>me.renai.notations</string>
				<key>PostNotification</key>
				<string>me.renai.notations/reload</string>
				<key>key</key>
				<string>style</string>
				<key>height</key>
				<string>160</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Settings</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>default</key>
				<integer>0</integer>
				<key>defaults</key>
				<string>me.renai.notations</string>
				<key>PostNotification</key>
				<string>me.renai.notations/reload</string>
				<key>key</key>
				<string>gesture</string>
				<key>label</key>
				<string>Gesture</string>
				<key>validTitles</key>
				<array>
					<string>Long-Press Status Bar</string>
					<string>Double-Tap Home Screen</string>
					<string>Triple-Tap Home Screen</string>
					<string>Activator Gestures</string>
				</array>
				<key>validValues</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
				</array>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>me.renai.notations</string>
				<key>PostNotification</key>
				<string>me.renai.notations/reload</string>
				<key>key</key>
				<string>useCustomTextSize</string>
				<key>label</key>
				<string>Custom Text Size</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>defaults</key>
				<string>me.renai.notations</string>
				<key>PostNotification</key>
				<string>me.renai.notations/reload</string>
				<key>showValue</key>
				<true/>
				<key>default</key>
				<real>14</real>
				<key>min</key>
				<real>10</real>
				<key>max</key>
				<real>24</real>
				<key>isSegmented</key>
				<true/>
				<key>segmentCount</key>
				<integer>14</integer>
				<key>key</key>
				<string>customTextSize</string>
				<key>requires</key>
				<string>useCustomTextSize</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Text Alignment</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSegmentCell</string>
				<key>default</key>
				<integer>1</integer>
				<key>defaults</key>
				<string>me.renai.notations</string>
				<key>key</key>
				<string>alignment</string>
				<key>validValues</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
				<key>validTitles</key>
				<array>
					<string>Left</string>
					<string>Center</string>
					<string>Right</string>
				</array>
				<key>alignment</key>
				<string>3</string>
				<key>PostNotification</key>
				<string>me.renai.notations/reload</string>
			</dict>
			<!-- <dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>default</key>
				<integer>0</integer>
				<key>defaults</key>
				<string>me.renai.notations</string>
				<key>PostNotification</key>
				<string>me.renai.notations/reload</string>
				<key>key</key>
				<string>textAlignment</string>
				<key>label</key>
				<string>Text Alignment</string>
				<key>validTitles</key>
				<array>
					<string>Natural</string>
					<string>Left</string>
					<string>Center</string>
					<string>Right</string>
					<string>Justified</string>
				</array>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
				</array>
			</dict> -->
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Links</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>action</key>
				<string>submitIssue</string>
				<key>label</key>
				<string>Report Issues</string>
				<key>icon</key>
				<string>/Library/PreferenceBundles/NotationsPrefs.bundle/bug.png</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>action</key>
				<string>donate</string>
				<key>label</key>
				<string>Donate / Support Me</string>
				<key>icon</key>
				<string>/Library/PreferenceBundles/NotationsPrefs.bundle/donate.png</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>Made with ❤️ by Renaitare</string>
				<key>footerAlignment</key>
				<string>1</string>
			</dict>
		</array>
		<key>title</key>
		<string>Notations</string>
	</dict>
</plist>
